<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1>Budgtr</h1>
        <a href="/budgets/new"><button>New Item</button></a>
        <% for(let i=0; i < budget.length; i++) { %>
            <table>
                <tr>
                    <td><%= budget[i].date%></td>
                    <td><a href="/budgets/<%=i%>"><%= budget[i].name%></a></td>
                    <td><%= budget[i].amount%></td>
                </tr>
            </table>
        <% } %>
        
    </div>
</body>
</html>