<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1><%=item.name%></h1>
        <a href="/budgets"><button>Return to Index</button></a>
        
        <p><b>date</b><br><%=item.date%></p>
        <p><b>name</b><br><%=item.name%></p>
        <p><b>from</b><br><%=item.from%></p>
        <p><b>amount</b><br><%=item.amount%></p>
        <p><b>tags</b><br><%=item.tags%></p>
    </div>
</body>
</html>